{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "auto",
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "experimentalTernaries": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto"
}
